$purple: #6B5DD3;
$black: #1B1D21;
$yellow: #FFCE73;
$green: #7FBA7A;
$pink: #FFA2C0;
$grey: #E4E4E4;
$box-grey: rgba(228, 228, 228, 0.3);

$pruple__gradient: linear-gradient(90deg, rgba(108,93,211,1) 0%, rgba(140,125,237,1) 100%);